
 {% extends 'user_views/index_vista.html.twig' %}

{% block vista %}
 <div class="row">
                    <ul class="js-pagination u-carousel-indicators-v30 g-pos-abs g-top-0">
            <li class="">

                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Información Proyecto</span>
                </a>

            </li>
            <li class=" ">

                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Fase Proyecto</span>
                </a>
            </li>
            <li class="slick-active">
                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Aportación en el Proyecto</span>
                </a>
            </li>
            <li class="">

                <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                    <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                </i>
                <span class="g-hidden-sm-down g-color-black g-font-size-15 ">Necesidades Proyecto</span>

            </li>
        </ul>
    </div> 
 
                <!-- Step Form Header -->
                <div class="modal-header">
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Aportacion en el  Proyecto</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                   
                    <div class="col-md-12 m-t-20">
                        <p>Para atraer el interés cuenta tu experiencia, contactos, clientes, equipo, espacio de trabajo, etc. Intenta que la gente a parte de confiar en tu proyecto, confíe en ti.</p>
                    </div>
                    <div class="col-md-12">
                        <p>&#9679; Tanto si estás solo como si tienes equipo, cuéntanos qué perfiles están cubiertos en tu proyecto</p>
                        <p>&#9679; Marca de forma general que se cubre y luego explica si hay alguna especialidad: Lenguajes de programación, tipo de marketing, especialización jurídica, etc</p>
                        <p>&#9679; Recuerda que una persona puede cubrir distintos perfiles y varias personas un único perfil</p>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn-info p-r-10 p-l-10 p-t-5 p-b-5 add_perfil_to_project" data-toggle="modal" data-target="#modalForm">
                            Añadir Perfil Aportado
                        </button>
                    </div> 
                    <div class="col-md-12 m-t-20">
                        <table class="table border par1 ">
                            <thead>
                                <tr>
                                    <th>Perfil</th>
                                    <th>Sector</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Marketing</p>
                                    </td>
                                    <td>
                                        <p>Distribucion y Venta</p>                                     
                                    </td>
                                    <td>
                                        <a class="ver_color par1" href="#"><p>ver</p></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                
                </div>
            
            

{% include 'modals/AddPerfilToProyect.html.twig' %} 
{% endblock %}
