
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.test


/public/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
#
#
/node_modules/
/src/Migrations/
/.env.test/
/.env
/.vscode/
/phpunit.xml.dist
/yarn-error.log 

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
