{% extends 'user_views/index_vista.html.twig' %}

{% block vista %} 
  <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op4").style.background="green";
        }
    </script> 
    <div class="container m-t-20 ">
        <div class="row">
            <div class="col-md-12 p-l-20 p-b-20 p-r-20">
                <h4 class="page-head-line">Mi Cuenta</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 par1">
                <p class="bgGris text-center">Bono 20</p>
                <p>Dispones de un <a class="ver_color par1" href="#"> Bono 20</a></p>
                <p>Te quedan<a class="ver_color par1" href="#"> 18 </a> contactos</p>
                <p>Has gastado<a class="ver_color par1" href="#"> 2 </a></p>      
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3 par1">
                <p class="bgGris text-center">Bono 20</p>
                <p class="bgGris text-center">Bono 10</p>
                <p class="bgGris text-center">1 Perfil</p>
                <p class="bgGris text-center">1 Perfil</p>          
            </div>
            <div class="col-md-2 par1">
                <p class="">28/06/18</p>          
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 m-t-20 m-b-20 m-l-20 par1">
                <p><b>Bono gratis periodo de uso 28/07/16 a 06/09/16</b></p>
            </div>
            <div class="col-md-6  col-12 par1"> 
                <p class="bgGris text-center">Usuarios</p>
                <div class="row">
                    <div class="col-md-6 col-6 par1 text-center">
                        <p class="">28/06/18</p> 
                        <p class="">28/06/18</p> 
                        <p class="">28/06/18</p> 
                        <p class="">28/06/18</p> 
                       
                    </div>
                    <div class="col-md-6 col-6 text-center">
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 par1"> 
                <p class="bgGris text-center">Proyectos</p>
                <div class="row">
                    <div class="col-md-6 col-6 par1 text-center">
                        <p class="">28/06/18</p> 
                        <p class="">28/06/18</p> 
                        <p class="">28/06/18</p> 
                        <p class="">28/06/18</p> 
                      
                    </div>
                    <div class="col-md-6 col-6 text-center">
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                        <a class="ver_color par1" href="#">Lolo</a><br/>
                    </div>
                </div>        
            </div>
        </div>
    </div>    
         
  
{% endblock %} 