{% extends 'base.html.twig' %}

{% block content %}
<!--Contenido HOME-->
 <div class="col-sm-8 home">
    <div class="row">
		<div class="home-item col-sm-4">
            <a style="float:left" href="{{ path('proyectos_equipos') }}">Busco equipo</a>  
        </div>
        <div class="home-item col-sm-4">
            <a style="float:right"href="{{ path('proyectos_equipos') }}">Busco Proyecto</a>                                            
        </div>               
    </div> 
</div>
{% endblock %}


