{% extends 'base.html.twig' %}

{% block content %}
<!--Seccion HOME-->
<div id="content">
    <div id="content1">
        <a style="float:left;text-decoration:none;color:white;font-size:30px" href="{{ path('proyectos_equipos') }}">Busco equipo</a>  
        <a style="float:right;text-decoration:none;color:white;font-size:30px"href="{{ path('proyectos_equipos') }}">Busco Proyecto</a>                                            
    </div>
</div>  
{% endblock %}


