{% extends 'base.html.twig' %}

{% block content %}
<!--Contenido HOME-->
    <div class="flex-row justify-content-around  home p-t-200">
		<div class=" col-xs-4 home-item">
            <a class=""  href="{{ path('equipo') }}">Busco equipo</a>  
        </div>
        <div class="col-xs-4 home-item">
            <a class="" href="{{ path('proyectos') }}">Busco Proyecto</a>                                            
        </div> 
    </div>                   

{% endblock %}


