{% extends 'base.html.twig' %}

{% block content %}
<!--Contenido HOME-->
<div class="col-md-8  home">
    <div class="row">
		<div class=" col-md-4 home-item   ">
            <a class="par" style="float:left" href="{{ path('equipo') }}">Busco equipo</a>  
        </div>
        <div class="col-md-4 home-item ">
            <a class="par" style="float:right"href="{{ path('proyectos') }}">Busco Proyecto</a>                                            
        </div> 
    </div>                   
</div>
{% endblock %}


