{% extends 'base.html.twig' %}

{% block content %}
<!--Contenido HOME-->
 <div class="row col-md-8 col-12 home">
		<div class="col-6 col-md-4 home-item  ">
            <a style="float:left" href="{{ path('proyectos_equipos') }}">Busco equipo</a>  
        </div>
        <div class="col-6 col-md-4 home-item ">
            <a style="float:right"href="{{ path('proyectos_equipos') }}">Busco Proyecto</a>                                            
        </div>                
</div>
{% endblock %}


