{% extends 'base.html.twig' %}

{% block content %}


<!-- Politica de Cookies -->
<div class="container">
    <div class="row">
       <div class="col-md-12"> 
            <h2>Politica de Cookies</h2>
        </div>
        <div class="col-md-12"> 
            <h5>1.	INFORMACION GENERAL</h5>
            <p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo, así como ofrecer un correcto funcionamiento del Sitio.</p>
            <p>Mediante el uso de cookies se permite al servidor Web recordar algunos datos concernientes al usuario, como sus preferencias para la visualización de las páginas de ese servidor, la ciudad a la que está asignada la dirección IP desde la que se accede, el número de nuevos usuarios, la frecuencia y reincidencia de las visitas, el tiempo de visita, el navegador o el operador o tipo de terminal desde el que se realiza la visita. En ningún caso se obtienen datos sobre el nombre, apellidos, dirección postal u otros datos análogos del usuario que se ha conectado.</p>
        </div>
        <div class="col-md-12"> 
            <h5>2.	COOKIES QUE SE UTILIZAN EN EL SITIO WEB</h5>
            <p>Las cookies utilizadas en esta página Web son las que genera Google Analitycs, siendo la denominación y la concreta finalidad de cada una de ellas las siguientes:</p>
            <ul>
                <li>	__utma: Caduca 2 años desde la última actualización. Esta cookie genera un ID de usuario único y registra la fecha, la primera y la última vez que el usuario vistió la web. Se utiliza para hacer recuento de cuantas veces visita el sitio un usuario único.</li>
                <li>	__utmb: Caduca a los 30 minutos de la última actualización. Esta cookie registra la hora de llegada a la página y caduca a los 30 minutos del último registro de página vista. Se elimina automáticamente al cambiar de web o al cerrar el navegador. Sirve para calcular el tiempo que un usuario permanece en una página.</li>
                <li>	__utmc: Esta cookie tiene una finalidad similar a la anterior, pero para las webs donde está instalado el antiguo código de seguimiento urchin.js.</li>
                <li>	__utmz: Caduca a los 6 meses. Esta cookie almacena el origen del visitante, el camino que ha seguido para acceder a la web ya sea acceso directo, desde un link en otra web, desde un enlace de correo electrónico, empleando determinadas palabras clave en un motor de búsqueda, a través de una campaña de display, o por medio de un anuncio de AdWords. Esta cookie se utiliza para calcular el tráfico que proviene de motores de búsqueda (orgánico y PPC), las campañas publicitarias en display y la navegación dentro de la misma web (enlaces internos). La cookie se actualiza en cada visita a la web.</li>
                <li>	____texto: Esta cookie se encarga de determinar si ya se ha leído la Política de Cookies y se ha aceptado expresamente su uso; de este modo, la información sobre ellas no aparecerá de nuevo en las sucesivas visitas a la Web.</li>
            </ul>
        </div>
        <div class="col-md-12"> 
            <h5>3.	DESHABILITAR O BLOQUEAR COOKIES</h5>
            <p>Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones de su navegador. Puede encontrar información sobre cómo hacerlo, en relación con los navegadores más comunes, en los links que se incluyen a continuación:</p>
            <ul>
                <li>	Explorer: <a class="nav-link" href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></li>
                <li>	Firefox: <a class="nav-link" href="http://support.mozilla.org/es/products/firefox/cookies" target="_blank">http://support.mozilla.org/es/products/firefox/cookies</a></li>
                <li>	Chrome: <a class="nav-link" href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="_blank">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a> </li>
                <li>	Safari: <a class="nav-link" href="http://www.apple.com/es/privacy/use-of-cookies/" target="_blank"> www.apple.com/es/privacy/use-of-cookies/</a>.</li>
            </ul>
            <p>También puede gestionar el almacén de cookies desde otras herramientas como:</p>
            <ul>
                <li>Ghostery:<a class="nav-link" href="http://www.ghostery.com." target="_blank"> www.ghostery.com.</a></li>
                <li>Your online choices:<a class="nav-link" href="http://www.youronlinechoices.com/es" target="_blank"> www.youronlinechoices.com/es</a></li>
            </ul>
            <p>
                Le informamos, no obstante, de la posibilidad de que la desactivación de alguna cookie impida o dificulte la navegación o la prestación de los servicios ofrecidos en esta Web.
            </p>
        </div>

        <div class="col-md-12"> 
            <h5>4.	CAMBIOS EN LA POLITICA DE COOKIES</h5>
             <p><b>Factoria Start Up S.L.</b> se reserva el derecho a modificar la presente Política de Cookies en cualquier momento con objeto de adaptarla a las modificaciones legislativas o reglamentarias o a las instrucciones que sobre este particular pueda dictar la Agencia Española de Protección de Datos.</p>
        </div>
    </div><!-- Fin ROW-->
</div>
<!-- Fin Politica de Cookies-->
               

{% endblock %}
