{% block rightSide %} 
<!--Contenido BANNERS--> 
<div class="row  mobil_banner ml-1"> 
    <div class="col-sm-12  banner border text-center"></div>
    <div class="col-sm-12  banner border text-center"></div>
    <div class="col-sm-12  banner border text-center"></div>
    <div class="col-sm-12  banner border text-center"></div>  
</div>                     
{% endblock %}
