{% block rightSide %}
<div id="content_right">           
    <div class="banner border text-center">Banner</div>
    <div class="banner border text-center">Banner</div>
    <div class="banner border text-center">Banner</div>
    <div class="banner border text-center">Calendario</div>          
</div>
{% endblock %}
