{% block rightSide %} 
<!--Contenido BANNERS-->   
<div class="col-md-4 info aside-right ">  
    <div class="row banner border text-center">Banner</div>
    <div class="row banner border text-center">Banner</div>
    <div class="row banner border text-center">Banner</div>
    <div class="row banner border text-center">Calendario</div>   
</div>                 
{% endblock %}
