<!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modalForm_fase_proyecto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Fase Proyecto</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                   
                    <p><b>¿Como de avanzado se encuentra tu proyecto?</b></p>                                  
                    <div class="form-check form-check-inline">
                        <img src="{{ asset('bumb.png','bumb') }}" alt="Symfony!"/>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Idea</b> Es solo eso, no has analizado nada y piensas que puede funcionar.</label>
                    </div>                 
                    <div class="form-check form-check-inline">
                        <img src="{{ asset('cuaderno.png','cuaderno') }}" alt="Symfony!"/>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Idea minima viable</b> Sigue siendo una idea, pero ya tienes un analisis total o parcial echo:competencia, clientes, coeste, estrategias, perseonal, etc...Seguro que te falta algo pero ya se ve que puede funcionar.... o no.</label>
                    </div>                  
                    <div class="form-check form-check-inline">
                        <img src="{{ asset('caja.png','caja') }}" alt="Symfony!"/>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Producto mínimo viable </b> Tienes un prototipo que funciona, pero te falta complementarlo con mas perfiles.</label>
                    </div>                 
                    <div class="form-check form-check-inline">
                        <img src="{{ asset('final.png','final') }}" alt="Symfony!"/>
                        <input class="form-check-input par1" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Producto final</b> Tienes equipo, tienes producto, incluso ya facturas.. es decir, necesitas mas profesionales para tu negocio.</label>
                    </div>                 
                </div>
                <!-- Modal Footer -->
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                    <button type="button" class="btn btn-success submitBtn" onclick="submitContactForm()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
 

    