<!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modalForm_necesito_proyecto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Necesidades Proyecto</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                   
                    <div class="row">
                        <div class="mobil col-md-3 border m-l-20 m-r-10 p-t-10">
                            <p><span class="btn-info p-l-5 p-r-5 p-t-2 p-b-2">1</span><b> Selecciona perfil:</b></p>
                            <hr/>
                            <p class="">Busca el perfil que mejor se adapte a las necesidades que tienes que cubrir en tu proyecto</p>
                        </div>
                        <div class="mobil col-md-5 border m-r-10 p-t-10">
                            <p><span class="btn-info p-l-5 p-r-5 p-t-2 p-b-2">2</span><b> Propón que ofreces:</b></p>
                            <hr/>
                            <p class="">
                                <b>% empresa:</b> el socio de toda la vida.</br>
                                <b>% ventas:</b> Así vende así gana</br>
                                <b>Obra y servicio:</b> Pequeñas cuantías</br>
                                <b>Pacto a Futuro:</b> Compromiso de trabajo
                            </p>
                        </div>
                        <div class="mobil col-md-3 border m-r-10 p-t-10">
                            <p><span class="btn-info p-l-5 p-r-5 p-t-2 p-b-2">3</span><b> Propuesta:</b></p>
                            <hr/>
                            <p class="">Explica que tiene que hacer y porque le ofreces ese acuerdo</p>
                        </div>
                    </div> 
                    <div class="col-md-12 m-t-25">
                        <p>&#9679; Trata de ser justo y coherente, si no la gente no le interesa trabajar en tu proyecto.</p>
                        <P>&#9679; Esto sirve para crear la bases de un futuro trabajo en equipo. Pero la verdadera negociación se hace cara a cara</P>                
                    </div> 
                    <div class="col-md-12 text-center">
                        <button class="btn-info p-r-10 p-l-10 p-t-5 p-b-5 " data-toggle="modal" data-target="#modalForm_necesito">
                            Añadir Perfil Necesitado
                        </button>
                    </div> 
                    <div class="col-md-12 m-t-20">
                        <table class="table border par1 ">
                            <thead>
                                <tr>
                                    <th>Perfil</th>
                                    <th>Acuerdo</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Marketing</p><p>Comercial/Contactos</p>
                                    </td>
                                    <td>
                                        <p>25% socio</p> 
                                        <p>30% Ventas</p>                                     
                                    </td>
                                    <td>
                                        <a class="ver_color par1" href="#"><p>ver</p></a>
                                        <a class="ver_color par1" href="#"><p>ver</p></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                    <button type="button" class="btn btn-success submitBtn" onclick="submitContactForm()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'modals/Añadir_perfil_necesitado.html.twig' %}  
 

    