<!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modalForm_RecargarContactos" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close par" aria-hidden="true">×</span>
                        <span class="sr-only ">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Recargar Contactos</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body ">
                    <div class="col-md-8 m-t-10">
                        <table class="table par ">
                             <thead class="bgGris ">
                                <tr>
                                    <th>Oferta</th>
                                    <th>Precios</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border">
                                    <td>
                                        <p>1 Contacto</p><p>7 Contact</p><p>25 Contact</p>
                                    </td>
                                    <td>
                                        <p>5€</p><p>25€</p><p>39€</p>
                                    </td>
                                </tr>
                            </tbody>     
                        </table> 
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    
 

    