{% extends 'base.html.twig' %}

{% block title %}Herramientas{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-md-12">
            <h4 class="p-t-20 ">Bienvenidos a la búsqueda de datos interesantes para tu empresa.</h4>
            <p>Los datos con posicionamiento geográfico se buscaran de la ubicación que figure en sus datos, si quiere hacerlo desde otra ubicación puede hacerlo <a href="#" class="ver_color par">aqui</a>, esta nueva búsqueda no sustituirá a la anterior.</p>
        </div>
        <div class="col-md-4">
            <p class="ver_color p-r-10 p-l-10 par1 fs-20"><b>Buscas perfiles</b></p>
        </div>
        <div class="col-md-8 col-12">
            <div class="row ">
                <div class="col-md-6 col-12">
                    <p class="bgAzul text-white p-r-10 p-l-10 ">Total Usuarios Actuales</p>
                </div>
                <div class="col-md-3 col-6">
                    <span class="bgGris p-r-20 p-l-20 ">56.356</span>
                </div>
                <div class="col-md-3 col-6">
                    <span class="bgGris p-r-20 p-l-20 ">30.000€</span>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12 m-b-20 p-r-10 m-l-15">
            <div class="row bgGris ">
                <div class="col-md-9 col-12">
                    <p class=" p-t-10 p-r-10 p-l-10 ">Marcar distancia desde tu ubicacion.</p>
                </div>
                <div class="col-md-3 col-12 p-t-10 ">
                    <span class="bgAzul text-white p-r-30 p-l-30 p-t-5 p-b-5">Todo</span>
                </div>  
            </div>
        </div>
        <div class="col-md-8  m-b-20 p-r-10 m-l-15">
            <div class="row bgGris ">
                <div class="col-md-9">
                    <p class="p-t-10 p-r-10 p-l-10 ">Fase del project</p>
                </div>
                <div class="col-md-3 p-t-10 ">
                    <span class="bgAzul text-white p-r-30 p-l-30 p-t-5 p-b-5">Todo</span>
                </div>  
            </div>
        </div>
        <div class="col-md-6 ">
            <p class="bgAzul text-white p-l-20">Seleccciona Profile que te interesa</p>
        </div>
         <div class="col-md-6 ">
            <p class="bgAzul text-white p-l-20">Seleccciona sector</p>
        </div>
        <div class="col-md-6 ">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Marketing(11.652) </label>
                <span class="bgGris m-l-20 p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Informatico(20.652) </label>
                <span class="bgGris m-l-10  p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
        </div>
           <div class="col-md-6 ">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Automocion(11.652) </label>
                <span class="bgGris m-l-20 p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Contruccion(20.652) </label>
                <span class="bgGris m-l-20  p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
        </div>
        <div class="col-md-4 m-t-20">
            <p class="ver_color p-r-10 p-l-10 par1 fs-20"><b>Buscas projects</b></p>
        </div>
        <div class="col-md-8 m-t-20">
            <div class="row ">
                <div class="col-md-6">
                    <p class="bgAzul text-white p-r-10 p-l-10 ">Total projects Actuales</p>
                </div>
                <div class="col-md-3">
                    <span class="bgGris p-r-20 p-l-20 ">56.356</span>
                </div>
                <div class="col-md-3">
                    <span class="bgGris p-r-20 p-l-20 ">300.000€</span>
                </div>
            </div>
        </div>
        <div class="col-md-8  m-b-20 p-r-10 m-l-15">
            <div class="row  bgGris">
                <div class="col-md-9">
                    <p class=" p-t-10 p-r-10 p-l-10 ">Marcar distancia desde tu ubicacion.</p>
                </div>
                <div class="col-md-3 p-t-10 ">
                    <span class="bgAzul text-white p-r-30 p-l-30 p-t-5 p-b-5">Todo</span>
                </div>  
            </div>
        </div>
        <div class="col-md-8  m-b-20 p-r-10 m-l-15">
            <div class="row  bgGris">
                <div class="col-md-9">
                    <p class="p-t-10 p-r-10 p-l-10 ">Fase del project</p>
                </div>
                <div class="col-md-3 p-t-10 ">
                    <span class="bgAzul text-white p-r-30 p-l-30 p-t-5 p-b-5">Todo</span>
                </div>  
            </div>
        </div>
        <div class="col-md-6 ">
            <p class="bgAzul text-white p-l-20">Seleccciona Profile del project que te interesa</p>
        </div>
         <div class="col-md-6 ">
            <p class="bgAzul text-white p-l-20">Seleccciona sector del project</p>
        </div>
        <div class="col-md-6 ">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Marketing(11.652) </label>
                <span class="bgGris m-l-20 p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Informatico(20.652) </label>
                <span class="bgGris m-l-10  p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
        </div>
        <div class="col-md-6 m-b-20">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Automocion(11.652) </label>
                <span class="bgGris m-l-20 p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2 par1">Contruccion(20.652) </label>
                <span class="bgGris m-l-20  p-r-30 p-l-30 p-t-10 p-b-10"></span>
            </div>
        </div>             
    </div>                 
{% endblock %}

