    <!--Contenido Footer-->
{% block footer %}
<footer class="m-t-20 bgAzul text-white">
    <div class="container  ">
        <div class="row p-t-10">       
            <div class="col-md-4 col-12">
                <span class="text_header">COMPANY</span>
                <div class="row">
                    <div class="col-md-2 col-2 m-b-10 m-t-10">
                        <a class="text_f">Support</a>
                    </div>
                    <div class="col-md-1 col-2 m-b-10 m-t-10 ">   
                        <a class="text_f">FAQ</a>
                    </div>    
                </div>    
            </div>
            <div class=" col-md-4 col-12">
                <span class="text_header ">SOCIALS</span>
                <div class="row p-t-10">
                    <div class="socials col-md-2 col-2 m-b-10">
                        <a  href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
                     </div>
                    <div class="socials col-md-2 col-2 m-b-10">
                        <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>                 
                    </div>
                    <div class="socials col-md-2 col-2 m-b-10">
                      <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
                    </div>
                    <div class="socials col-md-2 col-2 m-b-10">
                      <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
                    </div>
                </div>
            </div>
            <div class="offset-md-2 col-md-2 col-12 p">
                <span class="text_header">CONTACTOS</span>     
                <p  class="text_f m-t-10">Telefono: 999 999 999</br>
                <a  class="text_f">info@factoriastartup.com</a></p>         
            </div>
        </div> 
        <div class="row">
            <div class="offset-md-4 col-md-4 offset-md-4">    
                <p class="text_f text-white">Copyright © 2019 FactoriaStartUp</p>
            </div> 
        </div>             
    </div> 
</footer>
{% endblock %} 