    <!--Contenido Footer-->
{% block footer %}
<footer class="ct-footer m-t-20 text-white">
    <div class="container">
        <div class="row p-t-10">       
            <div class="columna1 col-md-4 ">
                <span class="text_header fs-15">COMPANY</span>
                <div class="row">
                    <div class="col-md-2 m-t-10 m-r-10">
                        <a class="text_f">Support</a>
                    </div>
                    <div class="col-md-1 m-t-10 m-l-10">   
                        <a class="text_f">FAQ</a>
                    </div>    
                </div>    
            </div>
            <div class="columna2 col-md-4">
                <span class="text_header fs-15 ">SOCIALS</span>
                <div class="row p-t-10">
                    <div class="socials col-md-2 ">
                        <a  href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
                     </div>
                    <div class="socials col-md-2">
                        <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>                 
                    </div>
                    <div class="socials col-md-2 ">
                      <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
                    </div>
                    <div class="socials col-md-2 ">
                      <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
                    </div>
                </div>
            </div>
            <div class="columna3 col-md-4">
                <span class="text_header fs-15">CONTACTOS</span>     
                <p  class="text_f">Telefono: 999 999 999</br>
                <a  class="text_f">info@factoriastartup.com</a></p>         
            </div>
        </div> 
        <div class="row">
            <div class="w-full col-md-4 "></div>
            <div class="columna4 col-md-4 ">    
                <p class="text_f text-white">Copyright © 2019 FactoriaStartUp</p>
            </div> 
            <div class="w-full col-md-4 "></div> 
        </div>             
    </div> 
</footer>
{% endblock %} 