@import '~bootstrap/scss/bootstrap';

$colorWhite:#fff;
$colorbg:#f5f5f5;
$color2:#20B2AA;
$colorBorder1:#e7ebf3;
$colortext: #828282;
$shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);



body{
    font-family:'Lato',sans-serif;
    background:#F4F4F4!important;    
    position: relative;
    font-size: 15px;
    overflow-x: hidden; 
    font-weight: 400;
    line-height: 1.5;
    color:$colortext;
}
.container{
    background: $colorbg;
}

.bgWhite{
    background: $colorWhite;
}


/*---NavBar--*/

#navegaccion{
    min-height: 180px;
    position: relative;
    margin-left: -14px; 
    margin-right: 24px; 
}
.navbar-dark {
    background-color:$colorWhite!important;
    width: 100%;
    margin-right: -15px;
    margin-left:-15px;
    margin-top: 0;
    
}

.nav-item{
    text-align: center;
    padding-right:0px;
   
}

 img{
    margin-top: -10px;
}

/*---Home--*/
.home{ 
    background-color: $color2;
    height: 450px;
    box-shadow:$shadow;
} 
.home-item a{ 
    margin-top:90%;
    margin-left:50%;
    margin-right:-70%;
    text-decoration:none;
    color:white;
    font-size:20px;

}
.banner{
    margin:0px 10px 10px 10px;
    min-height:15%;
    padding: 25%;
    background-color: $colorWhite;
    
 } 
/*---Proyectos--*/
.content{ 
    box-shadow:$shadow;
}
#buscar{
    margin-left:25px;
    width:100%;
     
}

.blog-grid {
    box-shadow:$shadow;
}
.blog-grid-img{
    padding-top: 10px !important;
}
.blog-grid-text {
    position: relative;
    margin-bottom: 15px;
}
.padding-25px-all {
    padding: 25px;
}
.border {
    //box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
/*---Detalle_Proyectos--*/
.detalle_proyecto{
    padding:50px 0px 0px 50px;
}



/*---Media queries--*/
/*---lg--*/
@media (min-width: 992px)and (max-width:1200px){
  .imgbanner{
      width: 102%;
  }
  .imglogo{
    width: 119%;
    }
    #buscar{
        margin-left:0px;
        width:99%;
         
    }
  

}
/*---md--*/
@media(min-width: 768px)and (max-width:992px){ 
    .imgbanner{
        width: 102%;
    }
    .imglogo{
        width: 119%;
    }
    #navegaccion{
        min-height: 160px;
        margin-right:0px;

      
    }
    #buscar{
        margin-left:0px;
        width:99%;
         
    }
    .col-md-8 {
        flex: 0 0 97.66667%;
        max-width: 97.66667%;
    }
    .info {
        max-width: 104.66667%;
        flex: 1 0 104.66667%;
        margin-left: -41px;
    }
    .banner{
        margin-top:20px;
        }
   
    
  
}
/*---sm--*/
@media (min-width: 576) and (max-width:768px){
    .imgbanner{
        width: 102%;
    }
    .imglogo{
        width: 119%;
    }
    #navegaccion{
        min-height: 160px;
        margin-right:0px;
    }
    #buscar{
        margin-left:0px;
        width:99%;
         
    }
    .banner{
        margin-top:20px;
        }
  

}
/*---col.(xs)--*/
@media (max-width:575){
    .imgbanner{
        width: 102%;
    }
    .imglogo{
        width: 119%;
    }
    #navegaccion{
        min-height: 160px;
        margin-right:0px;
      
      
    }
    #buscar{
        margin-left:0px;
        width:99%;
         
    }
    .banner{
    margin-top:20px;
    }
}    