@import '~bootstrap/scss/bootstrap';

$colorWhite:#fff;
$colorbg:#f5f5f5;
$color2:#20B2AA;
$colorBorder1:#e7ebf3;
$colortext: #828282;


body{
    font-family:'Lato',sans-serif;
    background:#F4F4F4!important;    
    position: relative;
    font-size: 17px;
    overflow-x: hidden; 
    font-weight: 400;
    line-height: 1.5;
    color:$colortext;
    text-align: left;
    margin:auto;
}
.container{
    background: $colorbg;
}

.bgWhite{
    background: $colorWhite;
}

#content{
    width: 70%;
    float: left;
    background-color: $colorWhite; 
    position: relative;
}
#content_right{
    width: 28%;
    float: right;
    position: relative;
 } 

/*---NavBar--*/

#navegaccion{
    height: 82px;
}
.navbar-dark {
    width: 98.5%;
    background-color:$colorWhite!important;
}
.nav-item{
    text-align: center;
    padding-right:1px;
}

/*---Home--*/

#content1 {
    padding: 25% 5% 15% 5%;  
    background-color: $color2;
} 
 .banner{
    margin:0 10px 10px 10px;
    height:25%;
    padding: 25%;
    background-color: $colorWhite;
    
 }  
/*---Proyectos--*/
#buscar{
    width: 90%;
     
}
.blog-grid {
    margin: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    position: relative;

}

.blog-grid-text {
    position: relative;
    margin-bottom: 15px;
}
.padding-25px-all {
    padding: 25px;
}
.border {
    //box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}


/*---Media queries--*/

@media screen and(max-width: 1020px){
    .imgbanner {
        width: 105%;
    }

}
@media (max-width: 992px){
    .imgbanner {
        width: 111%;
    }

}

@media(max-width: 768px){ 
    .imgbanner {
        width: 111%;
    }
}
@media (max-width: 578px){
  .imgbanner {
      width: 111%;
  }

}