{% extends 'base.html.twig' %}

{% block title %}Herramientas{% endblock %}

{% block content %}
<div class="col-md-8 par1 content bgWhite border  ">
    Foro
    <div class="row p-t-10">
        <div class="col-md-3">
            <p class="bgAzul m-b-2 text-white text-center ">Todos</p>
            <p class="bgAzul m-b-2 text-white text-center ">Marketing</p>
            <p class="bgAzul m-b-2 text-white text-center ">Programacion</p>
            <p class="bgAzul m-b-2 text-white text-center ">Diseño</p>
            <p class="bgAzul  m-b-2 text-white text-center ">Comercial/<br/>Contactos</p>
            <p class="bgAzul m-b-2 text-white text-center ">Legal</p>
            <p class="bgAzul m-b-2 text-white text-center ">Contable</p>
            <p class="bgAzul m-b-2 text-white text-center ">Financiacion</p>
            <p class="bgAzul m-b-2 text-white text-center ">Espacio Fisico</p>
            <p class="bgAzul m-b-10 text-white text-center ">Telecomunicacion</p>
        </div>
        <div class="col-md-9">
            <div class="form-group row">
                <div class="col-md-10">
                    <input class="form-control par1" placeholder="Buscar en Foro" type="search" style="height:100%;">            
                </div>             
                <button type="search" class="btn-md bgGris par1">Buscar</button>                           
            </div>
            <div class="row border p-t-10 m-r-10 border-info">
                <div class="col-md-7">
                    <p class="bgAzul text-white text-center ">Marketing</p>
                    <p class=" ">Encuentra soluciones para analizar la viabilidad de tu proyecto</p>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <p class=" ">Moderador <a href="#" class="ver_color par1">Sadow</a></p>
                           
                        </div>
                        <div class="col-md-4 border p-r-20">
                            Foto
                        </div>
                    </div>            
                </div>
            
            </div> 
            <div class="row border m-t-10 p-t-10 m-r-10 border-info">
                <div class="col-md-9">
                    <p class=" ">Dudas,consejo y consultar para temas de Marketing</p>
                    <p class=" ver_color">1 voto/3 Comentarios/Marposita</p>
                </div>
                <div class="col-md-3">
                    <p class=" ">19/12/1974 13:01</p>     
                </div>        
            </div>
            <div class="row border m-t-10 p-t-10 m-r-10 border-info">
                <div class="col-md-9">
                    <p class=" ">¿Buscas informacion sobre BBDD de Madrid?</p>
                    <p class=" ver_color">1 voto/3 Comentarios/Marposita</p>
                </div>
                <div class="col-md-3">
                    <p class=" ">19/12/1974 13:01</p>     
                </div>        
            </div>
        </div>
    </div>           
</div>
{% endblock %}

