{% block navAdmin %}
    <a href="{{ path('admin-projects') }}"><p class="bgAzul m-b-2 p-2 text-white text-center ">Todos los projects</p></a>
    <a href="{{ path('admin-coworker') }}"><p class="bgAzul m-b-2 p-2 text-white text-center ">Coworker Space</p></a>
    <a href="#"><p class="bgAzul m-b-2 p-2 text-white text-center ">Nuevas Noticias</p></a>
    <a href="#"><p class="bgAzul m-b-2 p-2 text-white text-center ">Promocion Bonos Contactos</p></a>
    <a href="#"><p class="bgAzul m-b-2 p-2 text-white text-center ">Notificaciones</p></a>  
{% endblock %}
