{% extends 'base.html.twig' %}

{% block content %}   
    <div class="registrar shadow_box bgGris  m-t-20 px-5 py-5">
		<h4>Registrate</h4>
        <div class="m-t-20 p-t-20">                           	      
            {{ form_start(form) }} 
            {{ form_widget(form) }}   
            {{ form_end(form) }}
        </div>    
    </div>  		  
{% endblock %}


