{% extends 'base.html.twig' %}

{% block content %}   
    <div class="registrar  m-t-20 m-b-20 p-t-20 p-b-20 p-l-20 p-r-20">
		<h4 class="font-weight-bold p-t-10">Registrate</h4>
        <div class="m-t-20">                           	      
            {{ form_start(form) }} 
            {{ form_widget(form) }}    
            {{ form_end(form) }}
        </div>    
    </div>  		  
{% endblock %}


