<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Factoria StartUp!{% endblock %}</title>
         <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>  
		<header>
		    {% include 'nav_bar/nav_bar.html.twig' %}          
		</header>
        <div class="container"role="main">
            <div class="row">
                {% block content %}{% endblock %}                   
                {% include 'right-side/rightSide.html.twig' %}  
            </div>
        </div>                           
        <script src="{{ asset('build/js/app.js') }}"></script>      
        {% block javascripts %}{% endblock %}
    </body>
</html>

