<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Factoria StartUp!{% endblock %}</title> 
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">      
        {% block stylesheets %}{% endblock %}
    </head>
    <body>  
		<header>                                   
            {% include 'nav_bar/nav_bar.html.twig' %}
        </header> 		   
        <div class="container  margin-mobil-container m-t-190">
            <div class="row">
                <div class="col-md-12 border p-5">
                     {% block content %}{% endblock %} 
                </div>
                <div class="col-md-4 d-none">                       
                    {% include 'right-side/rightSide.html.twig' %}  
                </div>    
            </div>
        </div>          
        <footer class="bgAzul text-white">
		    {% include 'footer/footer.html.twig' %}          
		</footer>                           
        <script src="{{ asset('build/js/app.js') }}"></script>     
        {% block javascripts %}{% endblock %}
    </body>
</html>

