{% extends 'base.html.twig' %}

{% block title %}Detalle Proyecto{% endblock %}
{% block content %}
<!--Contenido DetalleProyecto-->
    <div class="row col-md-8 detalle_proyecto  bg-white">
        <div class="col-md-2 border">Foto</div>
        <div class="col-md-6 ">
            <h3>Perfil Necesitado</h3>
            <p>I'm a Developer in Hyderabad, India. I work at RaRe Developers. I earned a degree from AITAM</p>
        </div>
        <hr> 
        <div class="row ">
            <div class="col-md-8">
            <hr> 
                <h1>Project Description</h1>
                <p>An abbreviation app that gives you all the Abbreviations in single place. You can search manually or you can go through the dictionary order. It has all the Abbreviations form A-Z full offline. This app is officially available in Play Store with address https://play.google.com/store/apps/details?id=com.rahul.abbreviations
                    I have developed the site because every people in their life needs to know the short forms or abbreviations. To make it easier and offline I have developed the App. As per the sources, it has already reached to many people and more than 5K people are currently active users in Android        
                    8 need to make it reachable to every other person also who are not aware of it as it is a good app for increase knowledge and awareness. So doing so will be very helpful for me.
                </p></br>
                <p>An abbreviation app that gives you all the Abbreviations in single place. You can search manually or you can go through the dictionary order. It has all the Abbreviations form A-Z full offline. This app is officially available in Play Store with address https://play.google.com/store/apps/details?id=com.rahul.abbreviations
                    I have developed the site because every people in their life needs to know the short forms or abbreviations. To make it easier and offline I have developed the App. As per the sources, it has already reached to many people and more than 5K people are currently active users in Android        
                    8 need to make it reachable to every other person also who are not aware of it as it is a good app for increase knowledge and awareness. So doing so will be very helpful for me.
                </p></br>
                <p>An abbreviation app that gives you all the Abbreviations in single place. You can search manually or you can go through the dictionary order. It has all the Abbreviations form A-Z full offline. This app is officially available in Play Store with address https://play.google.com/store/apps/details?id=com.rahul.abbreviations
                    I have developed the site because every people in their life needs to know the short forms or abbreviations. To make it easier and offline I have developed the App. As per the sources, it has already reached to many people and more than 5K people are currently active users in Android        
                    8 need to make it reachable to every other person also who are not aware of it as it is a good app for increase knowledge and awareness. So doing so will be very helpful for me.
                </p>
            </div>    
        </div>     
    </div>
{% endblock %}
