{% extends 'base.html.twig' %}

{% block title %}Vista_Usuario{% endblock %}

{% block content %}
<!--Contenido Vista-Usuario-->
<div class="row col-md-8  bg-white">
  	<div class="menu_vista">
		<div class="container-menu_vista" >
			<div class="wrap-menu ">
  	            <div>
					<a href="#" class="btn-info p-t-5 p-b-5 p-l-10 p-r-10 text-center" type="submit">
						Datos Personales						
                    </a>
                    <a href="#"class="btn-info p-t-5 p-b-5 p-l-10 p-r-10 text-center" type="submit">
						Datos Profesionales						
                    </a>
                    <a href="#" class="btn-info p-t-5 p-b-5 p-l-10 p-r-10 text-center" type="submit">
						Mis Proyectos					
                    </a>
                    <a href="#" class="btn-info p-t-5 p-b-5 p-l-10 p-r-10 text-center" type="submit">
						Mis Propuestas				
                    </a>
                    <a href="#" class="btn-info p-t-5 p-b-5 p-l-10 p-r-10 text-center" type="submit">
						Mis Cuenta
                    </a>    
				</div>
            <div class="row">
                {% include 'vista_usuario/datos_Personales.html.twig' %}  
            </div>                              
            </div>
        </div>    
    </div>
    
    
</div>

{% endblock %}

  

